/* Background */
body {
  background: #8eaaaa;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.TopBar {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.brand {
  font-size: 22px;
  font-weight: bold;
  color: #1f1f1f;
  margin: 0;
}

 /* LOGIN FORM BOX    */
.Loginform {
  background: #b4c7c7;
  width: 900px;
  height: 550px;
  border: 1px solid #6e8383;
  border-radius: 10px;
  padding: 40px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* Left side */
.left-section {
  display: flex;
  flex-direction: column;
}

/* Title inside form */
.form-title {
  font-size: 36px;
  margin: 0;
  padding-left: 50px;
}

.form-subtitle {
  margin: 5px 0 25px;
  color: #333;
  font-size: 16px;
  padding-left: 130px;
}

/* Form fields */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid #aaa;
  background-color: white;
  border-radius: 6px;
  height: 25px;
  width: 400px;
}

button {
  padding: 12px;
  background: #2f3e32;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 426px;
}

/* Link */
.forgot-password {
  padding-left: 290px;
}

.register {
  padding-left: 110px;
}

/* Right side image */
.side-image {
  width: 420px; 
  height: 630px;
  display: flex;
  position: absolute;
  bottom: 78px;
  padding-left: 520px;     
  border-radius: 10px;
}

