/* body{  
    align-items: center;
    justify-content: center;
} */
.Register-form{
    height: 800px;
    width: 1100px;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: hsl(182 19% 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px auto;
}

.Register-form form{
    display: flex;
    flex-direction: column;
}

.Register-form img{
    width: 500px;
    height: 800px;
    position: relative;
    left: 60px;

}

button{
    width: 400px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: hsl(119, 11%, 21%);
    font-size: 20px;
    margin-top: 30px;

}

input{
    width: 400px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Register-form .Title{
    position: relative;
    bottom: 150px;

}