body{
    background-color: hsl(182, 15%, 66%);
}
header{
    display: flex;
    /* justify-content: space-between; */
    gap: 1200px;
    width: 100%;
}

header button{
    width: 100px;
    height: 35px;
    font-size: 20px;
}

header p{
    font-size: 20px;
    font-weight: bold;
}
h1{
    font-size: 40px;
}