:root {
  --bg-color: #ffffff;
  --text-color: #213547;
  --card-bg: #f5f5f5;
  --border-color: #e0e0e0;
  --button-bg: #f9f9f9;
  --link-hover: #747bff;
  --icon-filter: invert(1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #181611;
  --text-color: rgba(255, 255, 255, 0.87);
  --card-bg: #1a1a1a;
  --border-color: #333333;
  --button-bg: #1a1a1a;
  --link-hover: #F2A60D;
  --icon-filter: invert(0);
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);

  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  width: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text-color);
}

a:hover {
  color: var(--link-hover);
}


button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  border-color: var(--link-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.song-card button:hover {
  transform: none;
  border-color: transparent;
  background-color: transparent;
}

.icon {
  filter: var(--icon-filter);
}





